# SPDX-FileCopyrightText: 2021 Daniel Laidig <laidig@control.tu-berlin.de>
#
# SPDX-License-Identifier: MIT

include vqf/*.pyx
include vqf/*.pyxbld
include vqf/cpp/*.cpp
include vqf/cpp/*.hpp
include vqf/cpp/CMakeLists.txt
include vqf/matlab/VQF.m
